#cardStyle{
    border: none;
    padding: 12px;
 }
 #cardStyle:hover img{
     box-shadow:5px 5px 5px rgb(0,0,0,.1),-5px -5px 10px rgb(0,0,0,.1);
     text-align:center;
    transform: scale(1.1);
    transition-duration: .8s;
    
 }
 a:hover{
    text-decoration: none;
 }